<div class="two-columns__narrow">
    <div class="hero">
        <p>Our experts discuss research into the stability and use of monoclonal antibodies and antibody drug conjugates.</p>
        <ul class="tag-cloud">
        {% for tag in site.data.tags %}
        <li>
            <a href="/tag/{{ tag | slugify }}/">{{ tag }}</a>
        </li>
        {% endfor %}
        </ul>
    </div>
    <div class="yellow-c2a">
        <p>The article reviews in this blog use the <strong>NHS Standard Protocol for Deriving and Assessment of Stability</strong>.</p>
        <ul>
            <li><a href="/standard-protocol/part-1/">Part 1 — Aseptic Preparations (Small Molecules)</a></li>
            <li><a href="/standard-protocol/part-2/">Part 2 — Aseptic Preparations (Biopharmaceuticals)</a></li>
        </ul>
    </div>
</div>