$color-white: #FFF;

$color-blue-100: #BBDEFB;
$color-blue-700: #1976D2;
$color-blue-900: #0D47A1;

$color-deep-purple-500: #673AB7;
$color-deep-purple-800: #4527A0;

$color-green-50: #E8F5E9;
$color-green-800: #2E7D32;
$color-green-900: #1B5E20;

$color-grey-900: #212121;
$color-grey-600: #757575;
$color-grey-300: #E0E0E0;
$color-grey-100: #F5F5F5;

$color-red-50: #FFEBEE;
$color-red-700: #D32F2F;
$color-red-900: #B71C1C;

$color-yellow-700: #FBC02D;
$color-yellow-200: #FFF59D;