.hero {
    background-color: $color-blue-900;
    border-radius: 0.1875rem;
    color: $color-white;
    font-weight: 700;
    margin: 3rem 0;
    padding: 1.5rem 0.75rem;
    p {
        margin: 1.5rem 0 3rem;
    }
}