$color-red-100:          #FFCDD2;
$color-red-700:          #D32F2F;
$color-red-900:          #B71C1C;

$color-deep-purple-100:  #D1C4E9;
$color-deep-purple-500:  #673AB7;
$color-deep-purple-800:  #4527A0;

$color-blue-100:         #BBDEFB;
$color-blue-700:         #1976D2;
$color-blue-900:         #0D47A1;

$color-green-100:        #C8E6C9;
$color-green-800:        #2E7D32;
$color-green-900:        #1B5E20;

$color-yellow-200:       #FFF59D;
$color-yellow-700:       #FBC02D;

$color-orange-100:       #FFE0B2;
$color-orange-700:       #F57C00;

$color-grey-100:         #F5F5F5;
$color-grey-300:         #E0E0E0;
$color-grey-600:         #757575;
$color-grey-800:         #424242;
$color-grey-900:         #212121;

$color-black:            #000000;
$color-white:            #FFFFFF;