.table-cell--highlighted {
    background-color: $color-yellow-200;
}

.table-cell--danger {
    background-color: $color-red-50;
    color: $color-red-900;
}

.table-cell--success {
    background-color: $color-green-50;
    color: $color-green-900;
}